@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** HEADER  ***/


#header-studens {
	margin:0;
	padding:0;
	background:url('../images/banner.png') center center no-repeat;
	background-repeat:no-repeat;
	min-width:1230px;
    background-color:#efe5ca !important;
    margin:0 auto;
    font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
}

#header-content {
	width:1170px;
	padding-right:30px;
	padding-left:30px;
	margin:0 auto;
	background:none !important;
	height:250px;
	/* border:1px solid red; */
}

/* Logo */

#header-content .logo-studens {
	display:block;
	width:173px;
	height:148px;
	background:url(../images/logo.png) center center no-repeat;
	text-indent:-5000px;
	margin-left:50px;
	float:left;
}


/* Menubar */

#header-content .menu {	
	height: 120px;
	position: absolute;
	margin-top: 135px;
	width: 1193px;
	margin-left:7px;
}

#header-content .menu ul {	
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:5px solid #0F565A;
	text-align:center;
}

#header-content .menu li 
{	
	display:inline-block;
	margin:0;
	padding:0;
	width:290px;
	border-collapse: collapse;
	text-align:center;	
	height:35px;	
}

#header-content .menu li a {
	display:block;
	padding-top:8px;
	font-weight:bold;
	font-size:20px;
	height:38px;	
	color: #0F565A;
	font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#header-content .menu li.selected {
	background: #0F565A;
}

#header-content .menu li.selected a {
	color: #EFE5CA !important;
	background:url('../images/ship.png') center bottom no-repeat;
}

#header-content .menu li:hover {	
	background: #0F565A;
}

#header-content .menu li a:hover {	
	color: #EFE5CA !important;
}

/* Submenu */

#header-content ul.submenu {
	height:48px;
	background:#FFFEE7;
	text-align:center;
}

#header-content ul.submenu li {
 	width:inherit;
 	text-align:center;
 	margin: 0 30px;
}


#header-content ul.submenu li,
#header-content ul.submenu li:hover,
#header-content ul.submenu li a,
#header-content ul.submenu li a:hover {
	padding-top:7px;
	font-size:18px;
	background:none;
	border:none;
}

#header-content ul.submenu {
	border-bottom:1px solid #D7CEAF;
}


#header-content ul.submenu a:hover {
	color:black !important;
}


/* Search */

#header-content form {
	margin-top:-80px;
	float: right;
	clear:both;
}

#header-content input {
	width:150px;
	height:34px;
	background:white;
	font-size:15px;
	border:1px solid #D2C8AF;
	border-right:none;
	outline: none;
	margin:0; 
	padding:0;
	padding-left:10px;
	float:left;
	border-top-left-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

#header-content button {
	width:32px;
	height:34px !important;
	background:white url('../images/search.png') center center no-repeat;
	margin:0; 
	padding:0;
	float: left;
	border:1px solid #D2C8AF;
	border-left:none;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	text-indent:-9999px;
}

* html #header-content button{font-size:0;display:block;line-height:0}  /* ie6 */
*+html #header-content button{font-size:0;display:block;line-height:0}  /* ie7 */


/* Social icons */

#header-content .social {
	float:right;
	margin-top:8px;
}

#header-content .social img {
	border:none;
}

#header-content .social img:hover {
	opacity:.8;
}



/*** FOOTER ***/

#footer-studens {
    margin:0;
    padding:0;
    background:none;
    margin:0 auto;
    font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#footer-content {
    width:1130px;
    padding: 50px;
    margin:0 auto;
    background: #eee5ca url('../images/footer-background.png') top left no-repeat;
    border-left:1px solid #D7CEAF;
    border-right:1px solid #D7CEAF;
}

#footer-content .contact a,
#footer-content .contact strong {
	color:#0F565A !important;
}


#footer-content div.contact {
    display:block;
    width:320px;
    margin-right:50px;
    float:left;
    font-size:16px;
    line-height: 25px !important;
}

#footer-content div.left {
    margin-left:20px;
}

#footer-content h3 {
	font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
    font-size:20px;
    font-weight:bold;
    color:#0F565A;   
    margin-bottom:10px;
    margin-top:10px;
}

#footer-content span {
    display:block;
}

#footer-content a,
#footer-content a:hover {
    display:inline;
    background:none;   
    margin:0; padding:0;
    color:#333 !important;
    font-size:16px;
    font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}


#footer-content a.site,
#footer-content a.site:hover {
    display:inline-block;
    padding:4px;
    margin:0 auto;
    margin-top:20px;    
    background:#0F565A;   
    color:white !important;
    border-radius:5px;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;    
}

#footer-content strong {
    color:#E9A200;
    display:block;
    font-weight:normal;
}

#footer-content hr {
    border-top:1px dotted #666;
    margin-top:10px !important;
    margin-bottom:10px !important;
}


/* FOOTER BOTTOM */

#footer-studens .bottom {
	width:1170px;
	margin:0 auto;
    clear:both;
    /*border:1px solid red;*/
    background:#2b1f1c url('../images/footer-bottom-background.png') left top no-repeat;
    min-height:170px;
    padding-left:60px;
}

#footer-studens #bg {
	float:right; 
	width:80px; 
	height:80px; 
	margin-top:-80px !important; 
	background:url('../images/footer-background-right.png') bottom right no-repeat;
}

#footer-studens .logos {
	padding-top:32px !important;	
}

#footer-studens .logos img {
	border:2px solid #e1a123;
	margin:5px;
}

#footer-studens .logos img.hn {
	border:none;
}

#footer-studens p {
	width:340px !important;
	color: #e1a123;
	line-height:15px  !important;
	border-top: 1px dotted #e1a123;
	padding:0;
	padding-top:10px;
	padding-bottom:20px;
	text-align:justify;
	margin-top:20px !important;	
}

#footer-studens .social,
#footer-studens .mentions {
	margin-right:60px;
	float:right;
	margin-top:30px;
	color:#e1a123;
	font-size:25px;
	text-align:right;
	line-height: 18px;
}

#footer-studens .bottom a,
#footer-studens .bottom a:hover {
	color:#e1a123;
	font-weight:normal;
}

#footer-studens .social a {
	margin:8px;
}

#footer-studens .social a:hover {
	zoom: 1;
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);    
}


#footer-studens .mentions a:hover {
	text-decoration: underline;
}

#footer-studens .social i {
	display:none;
}

#footer-studens .mentions {
	clear:right;
	margin-top:40px;
	font-size:15px;
}


