@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header-studens {
	margin:0;
	padding:0;
	background:url('../images/banner.png') center center no-repeat;
	background-repeat:no-repeat;
	min-width:1230px;
    background-color:#efe5ca !important;
    margin:0 auto;
    font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#header-content {
	width:1170px;
	padding-right:30px;
	padding-left:30px;
	margin:0 auto;
	background:none !important;
	height:250px;
	border:1px solid red;
}

/* Logo */

#header-content .logo-studens {
	display:block;
	width:173px;
	height:148px;
	background:url(../images/logo.png) center center no-repeat;
	text-indent:-5000px;
	margin-left:50px;
	float:left;
}


/* Menubar */

#header-content .menu {	
	height: 120px;
	position: absolute;
	margin-top: 135px;
	width: 1170px;
}

#header-content .menu ul {	
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:5px solid #0F565A;
	text-align:center;
}

#header-content .menu li 
{	
	display:inline-block;
	margin:0;
	padding:0;
	width:290px;
	border-collapse: collapse;
	text-align:center;	
	height:35px;	
}

#header-content .menu li a {
	display:block;
	padding-top:8px;
	font-weight:bold;
	font-size:20px;
	height:38px;	
	color: #0F565A;
	font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#header-content .menu li.selected {
	background: #0F565A;
}

#header-content .menu li.selected a {
	color: #EFE5CA !important;
	background:url('../images/ship.png') center bottom no-repeat;
}

#header-content .menu li:hover {	
	background: #0F565A;
}

#header-content .menu li a:hover {	
	color: #EFE5CA !important;
}

/* Submenu */

#header-content ul.submenu {
	height:48px;
	background:#FFFEE7;
	text-align:center;
}

#header-content ul.submenu li {
 	width:inherit;
 	text-align:center;
 	margin: 0 30px;
}


#header-content ul.submenu li,
#header-content ul.submenu li:hover,
#header-content ul.submenu li a,
#header-content ul.submenu li a:hover {
	padding-top:7px;
	font-size:16px;
	background:none;
	border:none;
}

#header-content ul.submenu {
	border-bottom:1px solid #D7CEAF;
}


#header-content ul.submenu a:hover {
	color:black !important;
}


/* Search */

#header-content form {
	margin-top:-80px;
	float: right;
	clear:both;
}

#header-content input {
	border:1px solid red;
	width:150px;
	height:34px !important;
	background:white;
	font-size:15px;
	border:1px solid #D2C8AF;
	border-right:none;
	outline: none;
	margin:0; 
	padding:0;
	padding-left:10px;
	float:left;
	border-top-left-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

#header-content button {
	width:32px;
	height:34px !important;
	background:white url('../images/search.png') center center no-repeat;
	margin:0; 
	padding:0;
	float: left;
	border:1px solid #D2C8AF;
	border-left:none;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	text-indent:-9999px;
}

* html #header-content button{font-size:0;display:block;line-height:0}  /* ie6 */
*+html #header-content button{font-size:0;display:block;line-height:0}  /* ie7 */


/* Social icons */

#header-content .social {
	float:right;
	margin-top:8px;
}

#header-content .social img {
	border:none;
}

#header-content .social img:hover {
	opacity:.8;
}