/* !---------- Studens Styles ---------- */


  .studens body {
    background-color: #F1E5CA;
    color: black;
    font-size:14px;
    font-family: CalibriRegular, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  .studens #content > div, 
  .studens #content section {
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }

  .studens #wrapper {
    border:none;
    border-left:1px solid #D7CEAF;
    border-right:1px solid #D7CEAF;
    background-color:#FFFDE6 !important;
    background:url(../images/body-square-background.png), url(../images/body-bottom-background.png);
    background-position: -45px 400px, bottom right;
    background-repeat: no-repeat;
    
  }

  .studens #wrapper.no-background {
    background:none;
    background-color: #FFFDE6;
  }

  .studens h1 {
    color: #bdbdbd;
  }
  .studens h2 a {
    font-weight:bold;
  }
  .studens #site-title a {
    color: #ffe000;
  }
  .studens input[type=submit], .studens button, .studens .button, .studens #advanced-search {
    background-color: #666666;
    color: #252525;
  }
  .studens input[type=text], .studens input[type=password], .studens textarea {
    background-color: #252525;
    border: 1px solid #666666;
    color: #cccccc;
  }
  .studens a:link {
    color: #0F565A;
  }
  .studens a:visited {
    color: #0F565A;
  }
  .studens a:hover, .studens a:active {
    color: black;
  }
  .studens header {
    /* background-color: red;*/
  }

  .studens #intro {
    color: #bdbdbd;
  }
  .studens #content,
  .studens #secondary-nav .current a,
  .studens #secondary-nav a.current,
  .studens .exhibit-section-nav .current a {
  }

  .studens #list {
    margin-left:150px;
    /* Override .studens #content > div in general CSS*/
    background-color:inherit !important;
    border:none !important;
    box-shadow: none !important;
    box-sizing: none !important;
  }

  /* Collections list */

  .studens #content .collection {
    background:inherit;
    padding-left:110px;
    margin-bottom:15px;
  }

  .studens #content .collection h2 {
    line-height:inherit;
  }

  .studens #content .collection p {
    border:none !important;
  }

  .studens #content .collection a.image {
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    width:100px; 
    height:63px;
    background:url('../images/thumbmail-background.png') left center no-repeat;
    position:absolute;
    margin-left:-128px;
    margin-top:5px;
    padding-left:18px;
  }

  .studens #content .collection .item-infos {
    margin:0;
    padding-bottom:30px;
    margin-bottom:30px;
  }

  /* Item infos */

  .studens .item-infos {
    margin-top:15px;
    margin-left:160px;    
    margin-bottom:20px;
    padding-bottom:50px;
    border-bottom:1px solid #ccc;
    color:#999;
  }

  .studens .item-infos span {
    color:#999;
  }

  .studens .item-infos .creators {
    padding:0 10px 0 17px;
    float:left;
    background:url('../images/item-infos-creator-icon.png') center left no-repeat;
  }

  .studens .item-infos .date {
    padding:0 10px 0 19px;
    float:left;
    background:url('../images/item-infos-date-icon.png') center left no-repeat;
  }

  .studens .tags {
    margin-left:160px;
  }
  
  /* Sort list */

  .studens #sort-links {
    background-color:inherit;
  }

  .studens #sort-links li {
    height:40px !important;
    display:inline-block !important;
  }

  .studens #sort-links li a {
    color:black;
    display:block;
    height:40px !important;
  }

  .studens #sort-links li {
    background:url('../images/sort-desc.png') bottom center no-repeat; 
  }

  .studens #sort-links li.asc a,
  .studens #sort-links li.desc a {
    font-weight:bold;
  }

  .studens #sort-links li.asc {
    background:url('../images/sort-asc.png') bottom center no-repeat; 
  }

  .studens #sort-links li.desc {
    background:url('../images/sort-desc-active.png') bottom center no-repeat; 
  }

  .studens #sort-links li a:after {
    content:none;
  }

  .studens #advanced-form {
    background-color: #252525;
    color: #cccccc;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #313131;
  }
  .studens #home #content > div {
    border-color: #666666;
  }
  .studens #home #content div .items-list .item {
    border-top: 1px solid #313131;
  }
  .studens #home #content div .items-list .item:first-of-type {
    border-top: 0;
  }
  .studens #home #content > div img, .studens .items.show #itemfiles a,
  .studens #home #content .item, .studens #home #content div .view-items-link,
  .studens .collections #content div .view-items-link {
    border-color: #313131;
  }
  .studens #content h1 {
    height:60px;
    background:url('../images/title-background.png') left center no-repeat;
    margin-top:-20px;
    padding-left:90px;
    color:black;
    font-size:20px;
    padding-top:25px;
    text-transform: lowercase;
    line-height:22px !important;
  }
  .studens #content h1:first-letter {
    text-transform: uppercase;
  }
  .studens #content h1 span {
    display:block;
    margin:0;
    margin-top:7px;
    padding:0;
    padding-left: 25px;
    line-height: 15px;
    color:#F8A301;
    background:url('../images/subtitle-background.png') left center no-repeat;
  }

  .studens #content h2 {
    border:none;
    margin-bottom:0;
    font-size:18px;
  }
  .studens #content > div, .studens #content #primary > div, .studens #content #sidebar > div,
  .studens #content #advanced-search-form > div, .studens #content #exhibit-pages {
    

  }
  .studens #content #primary > div, .studens #content #sidebar > div,
  .studens #content .item-pagination li {
    background-color: #252525;
  }
  .studens #content .pagination_previous a, .studens #content .pagination_next a {
    /* background-color: #252525; */
  }
  .studens #content nav .pagination_list {
    background-color: #252525;
  }

  .studens #content nav.pagination-nav {
    clear:both;
    margin-top:20px;
  }

  .studens #content nav.pagination-nav form {
    margin-top:5px;
  }


  .studens #content .pagination_previous a, .studens #content .pagination_next a {
    background:url('../images/nav-prev.png'); 
    box-shadow: none;
    width:35px;
    height:35px;    
  }

  .studens #content .pagination_previous a:after, .studens #content .pagination_next a:after {
    content:none;
  }

  .studens #content .pagination_next a {
    background:url('../images/nav-next.png'); 
  }

  .studens #content .pagination_next a:hover {
    background:url('../images/nav-next-hover.png'); 
  }

  .studens #content .pagination_previous a:hover {
    background:url('../images/nav-prev-hover.png'); 
  }

  .studens #content .item-img {
    margin-top:10px;
    margin-right:15px; 
    float:left; 
    width:130px; 
    height:63px;
    padding-left:18px;
    background:url('../images/thumbmail-background.png') left center no-repeat;
  }

  .studens #content .item-img img {
    width:130px; 
    height:63px;
  }

  .studens #content div.hTagcloud {
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
  }
  .studens #search-results th {
    background-color: #666666;
    color: #bdbdbd;
  }
  .studens #search-results td {
    background-color: #252525;
  }
  .studens #search-filters,
  .studens #item-filters {
  }

  .studens #search-filters li, 
  .studens #item-filters li {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .studens .page #content {
    border-color: #666666;
  }
  .studens .page #primary {
    background-color: #252525;
  }
  .studens footer {
    background-color: transparent;
  }
  .studens footer p {
    color: #cccccc;
  }
  .studens .exhibit-page-nav {
    background-color: #252525;
  }
  .studens .exhibit-page-nav .current, .studens .exhibit-child-nav .current {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .studens #exhibit-page-navigation a, .studens #exhibit-page-navigation span {
    background-color: #252525;
  }
  .studens .exhibits.show #content .exhibit-page-nav > li:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.08);
  }
  .studens .exhibits.tags #content p:only-of-type {
    background-color: #252525;
    border-color: #666666;
  }
  .studens #content div.hTagcloud ul li {
    background-color: #252525;
  }


  /* Slider */

  .studens #slider {
    width:792px !important;
    height:520px;
    float:left !important;
    margin:0; padding:0;
    border:none;
    box-shadow:none;
    background: url('../images/slider-background.png') right top no-repeat;
    padding-top:20px;
    background-color:inherit !important;
  }


  .studens #slider a.wrapper {
    display:block;
    width:750px !important;
    height:500px;
    margin:0; padding:0;
    float:left;
  }

  .studens #slider img {
    width:750px !important;
    height:500px;
    position:absolute;
    border:1px solid #666 !important;
  }

  .studens #slider p,
  .studens #slider span {
    width:750px;
    margin-top:364px !important;    
    height:137px;
    display:block;    
    color:white;
  }

  .studens #slider p {
    padding-top:20px;
    height:117px;
    padding-left:20px;
    width:730px;
    position:absolute;
    background: url('../images/slider-caption-background.png') left bottom no-repeat;
  }


  .studens #slider p i,
  .studens #slider p strong,
  .studens #slider p u {
    margin-right: 20px;
    display: block;
  }

  .studens #slider p i {
    font-weight:bold;
    font-style:normal;
    height:25px;
    overflow:hidden;
  }

  .studens #slider p strong {
    font-weight:bold;
    font-size:22px;
  }

  .studens #slider p u {
    text-decoration:none;
  }


  .studens #slider span {
    float: right;
    background-color:#333 !important;
    opacity: .8;
    -moz-opacity: .8;
    -webkit-opacity: .8;
  }

  .studens #slider .prev,
  .studens #slider .next {
    display:block;
    position:absolute;
    margin-top:150px;
    margin-left:1px;
    text-indent:-9999px;
    height:88px;
    width:44px;
    background: url('../images/slider-left-arrow.png') left center no-repeat;
  }

  .studens #slider .next {
    margin-left:705px;
    background: url('../images/slider-right-arrow.png') left center no-repeat;
  }

  /* Text-homepage */

  .studens #text-homepage {
    color:#2c2421 !important;
    margin-left:820px;
    font-size:16px;
  }

  .studens #text-homepage strong {
      display:block;
      font-size:20px;
  }



  /*** Page "Collection" ***/

  #collection-page {
      border:none !important;
      background-color:inherit !important;
      /* TOTAL WIDTH : 1106px */
  }
  
  #collection-page .left, 
  #collection-page .right {
      width:533px;
      float:left;
  }

  /* Left area */

  #collection-page .left {
      margin-right:40px;
  } 

  #collection-page .left .item {
    background-color:green;
    background-color:#efe5ca !important;
    background: url('../images/collection-page-left-description-background.png') top right no-repeat;
    border-bottom:3px solid #e3a224;
    font-size:16px;
  }

  #collection-page .item .item-file {
    margin-top:15px;
  }

  #collection-page .left .item h2 {
      margin:0px;
      color:white;
      text-align:center;
      background-color:black;
      display: block;
      padding:10px;
  } 

  #collection-page .left .item span.top {
    display:block;
    height:15px;
    margin:0;
    padding:0;
    background: url('../images/collection-page-left-title-background.png') top center no-repeat;
  }

  #collection-page .left .item span.bottom {
    display:block;
    height:29px;
    width:29px;
    float:right;
    margin:0;
    margin-top:-29px;
    padding:0;
    background: url('../images/collection-page-left-item-background.png') top right no-repeat;
  }

  #collection-page .left .item p {
    padding:20px;
  }

  /* Right area */
  #collection-page .right h2 {
    background: url(/themes/studens/images/collection-page-right-title-background.png) left center no-repeat;
    padding-left:60px;
    font-weight:normal;
    color:#105658;
    margin-top:0px;
    margin-bottom:20px;
    font-size:20px;
  }

  #collection-page .recent-items {
    display:block;
    font-size:16px;
  }

  #collection-page .recent-items a.title {
    padding-left:50px;
    display:block;
    color:black;
    font-weight:bold;
    font-size:18px;
    margin-bottom:10px;
  }

  #collection-page .recent-items a.description {
    display:block;
    padding-bottom:30px;
    margin-left:50px;
    color:black;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;

  }

  #collection-page .recent-items > div {
    position:absolute;
    float:left;
    margin-left:10px;
  }

  #collection-page .recent-items span.fa {
    display:block;
    color:#e49f26;
    font-size:25px;
    margin:2px;
    text-align:center;
  }


  /* Last articles on homepage */

  #last {
    border:none !important;
    float:left !important;
    width:1130px !important;
    padding:0 !important;
    margin:0 !important;
    margin-top:50px !important;
    margin-bottom:50px !important;
    background-color:inherit !important;
  }

  #last > a {
      display:block;
      margin:0;
      float:left;
      width:355px;
      padding:0px;
      margin-right:32px;
      color:#2d2523;
  }

  #last > a span {
      width:259px;
      height:192px;
      display:block;
      background-color:orange;
      position:absolute;
  }

  #last > a.last-archival span {
      background:url(/themes/studens/images/homepage-last-archival.png) top left no-repeat;
  }

  #last > a.last-exhibit span {
      background:url(/themes/studens/images/homepage-last-exhibit.png) top left no-repeat;
  }

  #last > a.last-collection span {
      background:url(/themes/studens/images/homepage-last-collection.png) top left no-repeat;
  }

  #last > a.last-collection {
      margin-right:0px;
  }

  #last > a img {
      width:355px !important;
      height:192px !important;
      border:none;
  }

  #last h2 {
      margin:0 !important;
      margin-top:15px !important;
      font-size:22px !important;
      line-height: 24px !important;
  }


  #last p {
      margin:0 !important;
      font-size:18px !important;
      line-height: 20px !important;
  }